@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #111;
  max-width: 1920px;
}

/**
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
**/

.center {
  text-align: center;
}

.nav-item {
  display: block;
  text-decoration: none;
  list-style-type: none;
  padding: 0 5%;
  color: #c39b81;
}

.nav-item-p {
  text-decoration: none;
  color: #c39b81;
}

.first-p {
  color: #ff6923;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

ul {
  padding: 0;
}

a {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

header nav ul a {
  text-decoration: none;
}

.nav-item-p:hover {
  font-weight: 700;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #ff6923;
}

.matt-skinner {
  font-size: 5em;
  margin-bottom: 0;
}

.gd {
  letter-spacing: 5px;
  font-weight: 100;
  color: #c39b81;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  margin: 0;
  font-size: 2rem;
  color: #ff6923;
}

h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #ff6923;
  font-size: 1.5rem;
}

h4 {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  color: #ff6923;
  font-size: 1.25rem;
}


p {
  font-family: "Raleway";
  font-weight: 100;
  color: #fff;
  line-height: 1.6;
}

.hey-there {
  font-family: "Roboto Slab", serif;
  color: #ff6923;
  font-weight: 500;
}

strong {
  font-weight: 100;
}


.contact-link {
  text-align: center;
  text-decoration: none;
  color: #c39b81;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding-bottom: 0.125em;
  margin: 0 0 1em 0;
}

.contact-text {
  text-align: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  padding-bottom: 0.125em;
  margin: 0 0 1em 0;
  color: #c39b81;
}

.contact-link:hover {
  text-decoration: underline;
}

.content-grid {
  margin: 0 10% 0 10%;
  padding-bottom: 5em;
}

.main-sample-image {
  max-width: 90%;
  padding-left: 10%;
}

.title-padding-b {
  padding-bottom: 2em;
}

.work-p {
  margin: 1em 1em 0 1em;
}

.about-p {
  margin: 1em 10% 0 10%;
}

.additional-images {
  width: 85%;
  padding-left: 15%;
  padding-bottom: 5em;
}

.container {
  min-height: 100%;
  position: relative;
}

footer {
  width: 100%;
  height:60px;
}

footer ul li {
  color: #c39b81;
  font-weight: 300;
}

footer ul li:hover {
  font-weight: 700;
}

.no-margin {
  margin: 0;
}

.margin-top-2 {
  margin-top: 2%;
}

.margin-top-5 {
  margin-top: 5%;
}

.margin-top-10 {
  margin-top: 10%;
}

.margin-top-15 {
  margin-top: 15%;
}

.margin-top-25 {
  margin-top: 25%;
}

.margin-top-50 {
  margin-top: 50%;
}

body {
  margin:0;
  padding:0;
  height:100%;
}

.container {
  min-height:100%;
  position:relative;
}

header {
  padding:10px;
}

@media only screen and (min-width: 930px) {
  .border {
    width: 40%;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 600px) {
  .border {
    border: none;
  }
}

@media only screen and (min-width: 26em) {

  .nav-item {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 0 5% 0 5%;
    color: #eee;
  }
}
