<nav>
  <ul class="center">

    <li class="nav-item">
      <a rel="home" href="{{site.baseurl}}/index.html">
        <p class="nav-item-p center">Home</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="#work">
        <p class="nav-item-p center">Work</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{site.baseurl}}/about">
        <p class="nav-item-p center">About</p>
      </a>
    </li>

    <li class="nav-item">
      <a href="{{site.baseurl}}/contact">
        <p class="nav-item-p center">Contact</p>
      </a>
    </li>

      </ul>
</nav>