<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Matt Skinner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/modules.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,300,400,500,500i,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
</head>
<body>
<div class="container">
  <header>
    <nav>
      <ul class="center">

        <li class="nav-item">
          <a href="index.html">
            <p class="nav-item-p center">Home</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="#work">
            <p class="nav-item-p center">Work</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="about.html">
            <p class="nav-item-p center">About</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="contact.html">
            <p class="nav-item-p center">Contact</p>
          </a>
        </li>

      </ul>
    </nav>
  </header>

  {{content}}

<footer class="margin-top-5">
  <ul class="center">

      <a href="https://instagram.com/mattskinner3030" class="nav-item center">
        <li>Instagram</li>
      </a>

      <a href="https://behance.net/mattskinner" class="nav-item center">
        <li>Behance</li>
      </a>

      <a href="https://github.com/MattSkinner30/" class="nav-item center">
        <li>GitHub</li>
      </a>
      
  </ul>
</footer>
</div>
</body>


</html>